.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-top: 1px solid black;
  background-color: white;
  padding: 16px;
}
.header .logo-container {
  height: 30px;
  flex-shrink: 0;
  max-width: 240px;
}
.header .logo-container img {
  width: 100%;
  height: 100%;
}
.header .search-form {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  max-width: 500px;
  margin-left: 30px;
  margin-right: 30px;
}
.header .search-form .search-input {
  font-family: Arial, serif;
  font-size: 12px;
  padding: 8px 10px;
  padding-right: 0;
  border: 1px solid;
  border-color: #a1a0a0;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 1 1 414px;
}
.header .search-form .fa-search {
  line-height: 14px;
  font-size: 14px;
  padding: 8px 7px;
  background-color: #eeeeee;
  border: 1px solid;
  border-color: #a1a0a0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.header .search-form .fa-search:hover {
  cursor: pointer;
}
.header .search-form .fa-microphone {
  line-height: 24px;
  font-size: 24px;
  width: 16px;
  margin-left: 10px;
  color: #bcbcbc;
}
.header .search-form .fa-microphone:hover {
  cursor: pointer;
}
.header .user-profile-container {
  display: flex;
  align-items: center;
  flex: 0 0 60px;
}
.header .user-profile-container .fa-bell {
  line-height: 24px;
  font-size: 24px;
  color: #bcbcbc;
}
.header .user-profile-container .fa-bell:hover {
  cursor: pointer;
}
.header .user-profile-container .user-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #ff9224;
  text-align: center;
  position: relative;
}
.header .user-profile-container .user-icon:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.header .user-profile-container .user-icon:hover .menu {
  display: block;
}
.header .user-profile-container .menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 180px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  background-color: #fff;
}
.header .user-profile-container .menu .menu-item {
  font-family: Arial, serif;
  font-size: 16px;
  padding: 9px 18px;
  text-align: left;
}
.header .user-profile-container .menu .menu-item:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.header .user-profile-container .menu .menu-item:last-child {
  border-top: 2px solid;
  border-top-color: #a1a0a0;
  color: red;
}
.header .user-profile-container .menu .menu-item .fas {
  line-height: 18px;
  font-size: 18px;
  width: 18px;
  margin-right: 12px;
}

.container {
  display: flex;
  height: calc(100vh - 66px);
}
.container .aside {
  flex: 0 0 240px;
  max-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
}
.container .aside .streamers-block {
  overflow-y: auto;
}
.container .aside .card {
  display: flex;
  height: 61px;
  background-color: #eeeeee;
  padding: 16px;
}
.container .aside .card .avatar-wrap {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}
.container .aside .card .avatar-wrap img {
  height: 100%;
  width: 100%;
}
.container .aside .card .name {
  font-size: 16px;
  line-height: 33px;
  font-family: "Inconsolata", monospace;
  margin-left: 16px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .aside .card .name:hover {
  color: blue;
}
.container .aside .card .meta {
  font-size: 16px;
  line-height: 33px;
  font-family: "Inconsolata", monospace;
  margin-left: auto;
}
.container .aside .card .meta .fa-circle {
  font-size: 12px;
  color: red;
}
.container .aside .card:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
.container .aside .wrapper {
  padding: 16px;
  background-color: #eeeeee;
  border-top: 1px solid white;
  margin-top: auto;
}
.container .aside .wrapper .info-block {
  padding: 16px;
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  background-color: #bcbcbc;
  border-radius: 4px;
  text-align: center;
}
.container .aside .wrapper .info-block p {
  margin-bottom: 16px;
}
.container .aside .wrapper .info-block p::selection {
  background-color: #ff9224;
  color: white;
}
.container .aside .wrapper .info-block .fab {
  font-size: 20px;
}
.container .aside .wrapper .info-block .fab:hover {
  cursor: pointer;
  color: #01A4DD;
}
.container .main {
  flex: 1 1 auto;
  padding: 16px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.container .main .categories-list {
  display: flex;
  padding: 16px;
  overflow-x: auto;
}
.container .main .categories-list .btn {
  font-size: 16px;
  line-height: 33px;
  font-family: "Inconsolata", monospace;
  padding: 0px 16px 0px 16px;
  background-color: #eeeeee;
  border: 1px solid;
  border-color: #bcbcbc;
  border-radius: 18px;
  margin-right: 18px;
}
.container .main .categories-list .btn:first-child {
  background-color: #ff9224;
  border-color: #ff9224;
  color: white;
}
.container .main .categories-list .btn:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 16px;
}

.video-card .preview {
  width: 100%;
  height: calc(100% - 46px);
  overflow: hidden;
}
.video-card .preview img {
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  padding: 6px 4px;
}
.description .avatar-wrap {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}
.description .avatar-wrap img {
  height: 100%;
  width: 100%;
}
.description .video-meta {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  margin-left: 20px;
}
.description .video-meta p:hover {
  cursor: pointer;
  color: blue;
}
.description .video-meta .autor {
  margin-top: 4px;
  font-size: 14px;
  color: #969696;
}
.description .fa-ellipsis-v {
  margin-left: auto;
  align-self: center;
}
.description .fa-ellipsis-v:hover {
  cursor: pointer;
}

.footer {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
  padding-top: 16px;
  margin-top: auto;
  text-align: center;
}
.footer i {
  margin-left: 8px;
}

/*# sourceMappingURL=main.css.map */
