@use "variables" as v;
@use "mixins" as m;

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-top: 1px solid black;
  background-color: white;
  @include m.standard-paddings;

  .logo-container {
    height: 30px;
    flex-shrink: 0;
    max-width: 240px;

    img {
      width: 100%;
      height: 100%;
    }
  }


  .search-form {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 500px;
    margin-left: 30px;
    margin-right: 30px;

    .search-input {
      @include m.input-font;
      @include m.input-padding;
      @include m.input-border;
      flex: 1 1 414px;
    }
    .fa-search {
      @include m.search-icon;
    }
    .fa-microphone {
      @include m.microphone-icon;
    }
  }

  .user-profile-container {
    display: flex;
    align-items: center;
    flex: 0 0 60px;

    .fa-bell {
      @include m.bell-icon;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 20px;
      border-radius: 50%;
      background-color: v.$background-color-orange;
      text-align: center;
      position: relative;

      &:hover {
        cursor: pointer;
        background-color: v.$background-color-grey-primary;
      }

      &:hover .menu {
        display: block;
      }
    }

    .menu {
      display: none;
      position: absolute;
      top: 45px;
      right: 0px;
      width: 180px;
      box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
      border-radius: 4px;
      background-color: #fff;

      .menu-item {
        @include m.user-menu-font;
        padding: 9px 18px;
        text-align: left;

        &:hover {
          cursor: pointer;
          background-color: v.$background-color-grey-primary;
        }

        &:last-child {
          border-top: 2px solid;
          border-top-color: v.$border-color-grey;
          color: red;
        }

        .fas {
          @include m.menu-icon;
          margin-right: 12px;
        }
      }
    }
  }
}

.container {
  display: flex;
  height: calc(100vh - 66px);

  .aside {
    flex: 0 0 240px;
    max-width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: v.$background-color-grey-primary;

    .streamers-block {
      overflow-y: auto;
    }
    .card {
      display: flex;
      height: 61px;
      background-color: v.$background-color-grey-primary;
      @include m.standard-paddings;

      .avatar-wrap {
        @include m.image-circle-wrap(33px, 33px)
      }
      .name {
        @include m.card-font;
        margin-left: 16px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: blue;
        }
      }
      .meta {
        @include m.card-font;
        margin-left: auto;

        .fa-circle {
          font-size: 12px;
          color: red;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: v.$background-color-grey-secondary;
      }
    }

    .wrapper {
      @include m.standard-paddings;
      background-color: v.$background-color-grey-primary;
      border-top: 1px solid white;
      margin-top: auto;

      .info-block {
        @include m.standard-paddings;
        @include m.info-block-font;
        background-color: v.$background-color-grey-secondary;
        border-radius: 4px;
        text-align: center;

        p {
          margin-bottom: 16px;

          &::selection {
            background-color: v.$background-color-orange;
            color: white;
          }
        }

        .fab {
          font-size: 20px;

          &:hover {
            cursor: pointer;
            color: v.$social-icon-color;
          }
        }
      }
    }

  }
  .main {
    flex: 1 1 auto;
    @include m.standard-paddings;
    padding-top: 0;
    display: flex;
    flex-direction: column;

    .categories-list {
      display: flex;
      @include m.standard-paddings;
      overflow-x: auto;

      .btn {
        @include m.btn-font;
        padding: 0px 16px 0px 16px;
        background-color: v.$background-color-grey-primary;
        border: 1px solid;
        border-color: v.$background-color-grey-secondary;
        border-radius: 18px;
        margin-right: 18px;

        &:first-child {
          background-color: v.$background-color-orange;
          border-color: v.$background-color-orange;
          color: white;
        }

        &:hover {
          cursor: pointer;
          background-color: v.$background-color-grey-secondary;
        }
      }
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 16px;
}

.video-card {
  .preview {
    width: 100%;
    height: calc(100% - 46px);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.description {
  display: flex;
  padding: 6px 4px;

  .avatar-wrap {
    @include m.image-circle-wrap(33px, 33px)
  }
  .video-meta {
    @include m.video-meta-font;
    margin-left: 20px;

    p:hover {
      cursor: pointer;
      color: v.$href-color;
    }

    .autor {
      margin-top: 4px;
      font-size: 14px;
      color: v.$text-color-secondary;
    }
  }
  .fa-ellipsis-v {
    margin-left: auto;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.footer {
  @include m.footer-font;
  padding-top: 16px;
  margin-top: auto;
  text-align: center;

  i {
    margin-left: 8px;
  }
}








































////
