@use "variables" as v;

// fonts
@mixin input-font {
  font-family: Arial, serif;
  font-size: 12px;
}
@mixin user-menu-font {
  font-family: Arial, serif;
  font-size: 16px;
}
@mixin card-font {
  font-size: 16px;
  line-height: 33px;
  font-family: 'Inconsolata', monospace;
}
@mixin info-block-font {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}
@mixin btn-font {
  font-size: 16px;
  line-height: 33px;
  font-family: 'Inconsolata', monospace;
}
@mixin video-meta-font {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}
@mixin footer-font {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

// paddings
@mixin standard-paddings {
  padding: 16px;
}
@mixin input-padding {
  padding: 8px 10px;
  padding-right: 0;
}

//borders
@mixin input-border {
  border: 1px solid;
  border-color: v.$border-color-grey;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// icons
@mixin search-icon {
  line-height: 14px;
  font-size: 14px;
  padding: 8px 7px;
  background-color: v.$background-color-grey-primary;
  border: 1px solid;
  border-color: v.$border-color-grey;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;

  &:hover {
    cursor: pointer;
  }
}

@mixin microphone-icon {
  line-height: 24px;
  font-size: 24px;
  width: 16px;
  margin-left: 10px;
  color: v.$background-color-grey-secondary;

  &:hover {
    cursor: pointer;
  }
}

@mixin bell-icon {
  line-height: 24px;
  font-size: 24px;
  color: v.$background-color-grey-secondary;

  &:hover {
    cursor: pointer;
  }
}

@mixin menu-icon {
  line-height: 18px;
  font-size: 18px;
  width: 18px;
}

//image-wrap
@mixin image-circle-wrap($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}
@mixin image-wrap-rect($width, $height) {
  width: $width;
  height: $height;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}

































////
