$href-color: blue;
$text-color-secondary: #969696;

$border-color-grey: #a1a0a0;
$background-color-grey-primary: #eeeeee;
$background-color-grey-secondary: #bcbcbc;

$background-color-orange: #ff9224;

$social-icon-color: #01A4DD;
